html {
    background-image: url('../calculadora.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-color: rgba(73,68,188,255);
}

#global {
    padding: 5px;
    margin: 10px;
    background-color: RGBA(255,255,255,0.85);
    border-radius: 10px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
    
}

h3 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 4rem;
    text-align: center;
    margin-top:  10px;
    margin-bottom:  15px;
    color: rgb(0, 0, 0)
}

#cajaDatos {
    background-color: black;
    color: white;
    margin: 0;
    padding: 15px;
    padding-top: 5px;
    border-radius:  10px
}

#datos span input {
    margin-top: 10px;
    justify-content: center;
    width: 70%;
    font-size: 1.1rem;
}

#datos {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
