#global {
    padding: 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;   
}

h3 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 15px;
}

p {
    font-size: 4rem;
    text-align: center;
    margin-top:  10px;
    color: rgb(65, 64, 64)
}

#cajaDatos {
    background-color: black;
    color: white;
    margin: 0;
    padding: 15px;
    padding-top: 5px;
    border-radius: 0 0 5px 5px;
}

#datos span input {
    margin-top: 10px;
    margin-left: 0;
    width: 40%;
    font-size: 1.3rem;
}

#datos {
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
